<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BOGOR CITY</title>
        <link rel="stylesheet" href="static/website/Style.css" />
    </head>
    <body>
        <!--Untuk Header Web-->
        <header>
            <div class="jumtron">
                <img src="" alt="" />
                <h1 style="text-align: center; text-shadow: 2px 2px #e39f00;">WISATA ALAM KOTA BOGOR</h1>
                <p style="text-align: center; text-shadow: 1px 1px #e39f00;">Rekomendasi Tempat Hiburan Bersama Keluarga Di Kota Bogor</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#Gunung Pangrango" class="active">Gunung Pangrango</a></li>
                    <li><a href="#Curug Leuwi Hejo" class="active">Curug Leuwi Hejo</a></li>
                    <li><a href="#Kebun Raya" class="active">Kebun Raya Bogor</a></li>
                    
                </ul>
            </nav>
        </header>

        <main>
            <div class="content text">
                <article id="Gunung Pangrango" class="wrapper">
                    <h2>Gunung Pangrango</h2>
                    <img src="static/website/foto/Bogor Puncak Pass.jpg" alt="Bogor" class="featured-image" />
                    <p>
                        Siapa yang tidak mengenal Gunung Pangrango atau yang biasa orang sebut sebagai puncak Bogor, sudah tidak asing lagi bahwa gunung Pangrango merupakan primadona dari destinasi liburan keluarga yang ada di kota Bogor
                        karena akses jalan yang mudah dapat ditempuh dengan jalan bebas hambatan (Jalan Tol),Wisatawan yang menaiki mobil pribadi dapat keluar pada pintu exit lingkar gadog namun jangan khawatir bagi yang menaiki kendaraan
                        bermotor karna ada opsi jalan lain melalu bukit pelangi. Setiap weekend maupun libur panjang banyak sekali wisatawan luar kota yang pergi berkunjung di dominasi dengan kendaraan roda 4 dan roda 2, jadi tidak heran
                        mengapa buka tutup jalan menjadi hal biasa yang terjadi setiap hari libur yang menimpulkan kemacatan berkilometer jauh.Setelah perjalanan yang menguras tenaga akan terbayarkan dengan pemandangan Gunung Pangrango yang
                        indah dihiasi dengan hijaunya tumbuhan, hampir disetiap pandangan terbentang kita dapat melihat kebun teh yang sangat luas tidak halnya itu saja Gunung Pangrango juga menghadirkan banyak sekali tempat makan dan
                        tempat wisata yang cocok untuk rekreasi keluarga kamu tersayang diantara lain ada wisata alam yang menawarkan kebebasan kamu dalam memberi makan hewan yaitu taman safari, kamu akan dimanjakan dengan beragam satwa dan
                        fauna yang sangat beragam disana dan pertunjukan memukau para aksi hewan pintar, jika mungkin kamu sudah bosan untuk berkunjung ke Taman Safari tenang saja masih banyak tempat di Gunung Pangrango yang dapat kamu
                        explore dan rekomendasi yang diusulkan yaitu tempat makan Warpat atau kepanjangan dari Warung Patra kamu bisa menikmati waktu makan kamu dengan keluarga tersayang dengan menikmati pemandangan indah Gunung Pangrango
                        dari atas ketinggian dengan angin sejuk yang berhembus dengan menikmati kenikmatan makanan dan minuman yang disajikan disana.
                    </p>
                </article>
                <article id="Curug Leuwi Hejo" class="wrapper">
                    <h2>Curug Leuwi Hejo</h2>
                    <img src="static/website/foto/10 Foto Kawasan Wisata Alam Curug Leuwi Hejo_ Green Cayon di Kota Bogor - Inspirasi Jawa Tengah.jpg" alt="Curug" class="featured-image" />
                    <p>
                        Wisata Alam Curug Leuwi Hejo terletak di Kampung Wangan Cileungsi, Karang Tengah, Babakan Madang, Sentul, Bogor. Jika kamu ke sini dengan menggunakan kendaraan roda empat bisa langsung keluar di pintu Tol Sentul lalu
                        ambil ke arah kawasan Jungleland dan jarak ditempuh sekitar 4 jam perjalanan dari Jakarta, wisata alam ini sangat cocok untuk kalian yang menyukai kegiatan berenang dengan menikmati keindahan alam.Biaya masuk ke
                        Curug Lewi Hejo ini sangat terjangkau. Hanya dengan membayar Rp 15.000 sekali datang, kamu bisa menikmati keindahan alam di sini. Dan jika ingin mendatangi curug lainnya cukup mengeluarkan uang sekitar Rp 10.000,
                        sangat terjangkau untuk membayar pemandangannya yang indah. wisata alam ini sangat cocok untuk kalian yang menyukai kegiatan berenang dengan menikmati keindahan alam Saking indahnya, Curug Leuwi Hejo sering disebut
                        sebagai Green Canyon Bogor. Curug Leuwi Hejo sendiri memiliki kedalaman yang bervariatif mulai dari kedalaman 2 meter hingga 10 meter. Curug Leuwi Hejo Menawarkan pemandangan alam yang sangat memukau dengan air yang
                        berwarna hijau kebiruan yang sangat jernih, memiliki air yang segar dan jernih yang berasal dari mata air pengunungan, dengan batu batu disetiap sisinya dihiasi dengan pancuran air dan juga tumbuhan yang
                        bergelantungan menambah kesan indah curug leuwi hejo. Tidak perlu khawatir jika ada keluarga anda tidak bisa berenang karna disana karna disediakan tempat menyewa pelampung dan ban untuk menambah keamanan untuk para
                        pengunjung jadi tidak perlu khawatir membawa keluarga ke tempat ini selama ada yang mengawasinya, jika sudah bosan berenang terdapat warung untuk membeli makanan dan minuman untuk mengisi perut dan kamu bisa
                        berswafoto disana dengan alam yang indah menjadi background foto kamu dan keluarga tercinta.
                    </p>
                </article>
                <article id="Kebun Raya" class="wrapper">
                    <h2>Kebun Raya Bogor</h2>
                    <img src="static/website/foto/The Village_ Obyek Wisata Kebun Raya Bogor Indonesia.jpg" alt="Kebun Raya" class="featured-image" />
                    <p>
                        Jika tadi sudah membahas Tempat Wisata Alam yang jauh dari pusat Kota Bogor selanjutnya terdapat spot menarik wisata alam di jantung kota Bogor dimana lagi jika bukan di Kebun Raya Bogor yang terletak di kaki Gunung
                        Salak. wisata ini menggabungkan perkotaan dan alam yang dijadikan satu padu yang serasih untuk dijadikan wisata keluarga mengapa demikian karna Kebun Raya menawarkan kepada pengunjung dengan edukasi flora yang
                        beragam disana sangat bagus untuk melatih motorik anak. Kebun Raya Bogor atau yang juga dikenal dengan nama Kebun Botani Bogor ini menyimpan koleksi 400 jenis pohon palem, 5.000 jenis pepohonan tropik dari berbagai
                        negara, 3.000 jenis anggrek dan ribuan jenis tanaman lainnya berserta taman kaktus yang tertata rapih dengan batu alam dan tanaman yang paling terkenal yaitu bunga bangkai atau bunga rafflesia arnodi namun bunga ini
                        mekar dalam musim-musim tertentu saja, Kebun Raya juga masih satu kawasan dengan Istana Bogor yang biasa dijadikan sebagai tempat tinggal bapak Presiden Indonesia yaitu Bapak Presiden Jokowi Widodo yang terkadang
                        menyapa pengunjung disana untuk sekedar mengisi waktu luang maupun berolahraga karna alamnya yang asri, tidak perlu khawatir untuk masalah makan karna didalamnya terdapat caffe yang menyajikan makanan dan minuman
                        yang lezat dan para wisatawan bisa berfoto dengan keluarga tersayang bertemakan botanical garden yang cantik tidak halnya itu Kebun Raya juga menyajikan sejarah yang menarik sebelum terbentuk sebelum sekarang yaitu
                        pada zaman kependudukan belanda di Bogor siapa lagi jika bukan Raffles yang menjadikan halaman Istana Bogor taman bergaya klasik Inggris. Dia pun menanami area taman itu dengan aneka tumbuhan dari berbagai penjuru
                        nusantara.itu dia sedikit ulasan dari wisata alam yang terdapat di Bogor sangat menarik untuk dikunjungin bersama keluarga untuk melepaskan kejunuhan.
                    </p>
                </article>  
            </div>

            <aside>
                <article class="profile card">
                    <header>
                        <h2>Profile</h2>
                        <h4>programmer</h4>
                        <figure>
                            <img src="static/website/foto/profile (1).jpg" alt="" class="photo" />
                            <h4>Front-End</h4>
                        </figure>
                        <section class="line">
                            <h3>BIODATA</h3>
                            <table>
                                <tr>
                                    <td>Nama</td>
                                    <td>: Rama Adi Satria</td>
                                </tr>
                                <tr>
                                    <td>TTL</td>
                                    <td>: Bogor,1-Oktober-2001</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>: Laki-laki</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>: Perum Puri Nirwana 3</td>
                                </tr>
                                <tr>
                                    <td>Hobi</td>
                                    <td>: Menggambar & Mengoding</td>
                                </tr>
                            </table>
                        </section>
                    </header>
                </article>
            </aside>
        </main>
        <footer>
            Submission Dicoding 2022 by Rama Adi Satria
        </footer>
        <script src="static/website/script.js"></script>
</body>
</html>
